.kd-clubhouseheader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    height: 40px;
    width: auto;
    padding: 0.5em 1em;
    z-index: 1;
}

.kd-clubhouseheader-right {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
}

.kd-clubhouseheader img, .kd-search-icon  {
    width: 25px;
    height: 25px;
    margin: 0 0.8em;
}
