.WelcomeContainer {
    padding: 1em 2em;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f2f0e4;
}

.WelcomeContainer h1 { 
    padding: 1em 2em;
    font-size: 1.7em;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0px;
    color: var(--text-color);
}

.WelcomeInfo {
    padding: 1em 2em;
    margin: 0px;
    height: 40vh;
    overflow: auto;
}

.WelcomeInfo p {
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 2em;
    color: var(--text-color);
}

.actionButton {
    padding-top: 4vh;
    align-self:center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.kd-action-button {
    background-color: var(--btnBgColor);
    color: #fff;
    border-radius: 2em;
    padding: 0.5em 1.5em;
    font-size: 1.2em;
}


.kd-action-button:hover {
    transform: scale(1.06);
    transition: all 250ms ease-out;
    background-color: var(--btnHoverBgColor);
    color: white;
}


.actionButton:last-child {
    color: var(--btnBgColor);
    font-size: 0.875em;
    font-weight: 400;
    font-style: normal;
}